body{
	width:1150px;
	margin:auto;
}
body .modal{
	width:900px;
	margin-left:-450px;
}
#box_toolbar{
	width:1100px;
	height:30px;
}
#box_map{
	width:802px;
	height:600px;
	border:1px solid black;
	float:left;
	overflow:auto;
}
#box_tile{
	width:300px;
	border:1px solid black;
	margin-left:804px;
	height:600px;
	overflow:auto;
}
.icon-pipette{
	background-image: url('bootstrap/img/pipette.png');
	background-position: 0px;
	width:19px;
	height:19px;
}
.icon-pencil{
	background-image: url('bootstrap/img/pencil.png');
	background-position: 0px;
	width:19px;
	height:19px;
}
.icon-peinture{
	background-image: url('bootstrap/img/peinture.png');
	background-position: 0px;
	width:19px;
	height:19px;
}
#npc_left, #reply_left, #dialog_left{
	width:200px;
	float:left;
}
#npc_left select, #reply_left select, #dialog_left select{
	height:300px;
}
#npc_left button, #reply_left button, #dialog_left button{
	width:100%;
}
#npc_central, #reply_central, #dialog_central{
	margin-left:260px;
}
#npc_central input, #reply_central input, #dialog_central input{
	height:30px;
	margin-bottom:5px;
}
#npc_central label, #reply_central label, #dialog_central label{
	width:120px;
	display:inline-block;
}
#reply_central select{
	margin-top:10px;
}
#npc_central #npc_charset{
	float:right;
	margin-right:300px;
	border:1px solid black;
}
#dialog_replies div{
	width:400px;
	border-left:4px solid #BBB;
	padding-left:5px;
	margin-bottom:5px;
}

input[type=text], input[type=number]{
	height:30px;
	margin-bottom:0px;
}

#map_npc{
	width:1104px;
	border:1px solid black;
	min-height:240px;
}
#map_npc .titlespan{
	display:inline-block;
	width:100%;
	margin-left:0px;
	padding-left:0px;
	background-color:black;
	color:white;
}
#map_npc select.npclist{
	height:200px;
}

div.effects label{
	display: inline-block;
}
#reply_effects>div, div.effects>div{
	width:400px;
	min-height:50px;
	border-left:4px solid #BBB;
	padding-left:10px;
	margin-bottom:5px;
}
#reply_effects .title, div.effects .title{
	font-weight: bold;
	color:#777;
}

#reply_effects .delete:hover, div.effects .delete:hover{
	color:#A00;
}
#reply_effects p, div.effects p{
	margin-left:20px;
}
#reply_effects input, div.effects input{
	width:100px;
	height:20px;
	padding:0px;
	margin-top:5px;
}
#dialog_replies .delete, #reply_effects .delete, div.effects .delete{
	float:right;
	font-weight: bold;
	color:#777;
	cursor:default;
}
#dialog_replies .delete:hover, #reply_effects .delete:hover{
	color:#A00;
}